# Azure Functions artifacts
bin
obj
appsettings.json
local.settings.json

# Python
__pycache__/
*.py[cod]
*$py.class
.Python
venv/
env/
.env
.env.local
.venv
pip-log.txt
pip-delete-this-directory.txt
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.log
.pytest_cache/
.python-version

# IDEs and editors
.idea/

*.swp
*.swo
*~
.DS_Store

# Deployment settings
*.publishsettings
.python_packages

__blobstorage__
__azurite*