# Do not include azure-functions-worker in requirements.txt
# The Python Worker is managed by Azure Functions platform
# Manually managing azure-functions-worker may cause unexpected issues

azure-functions
python-json-logger>=2.0.7